#
# This group is read both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# include *.cnf from the config directory
#
!includedir /etc/my.cnf.d

[mariadb]

datadir=/home/blendzior/projects/school/LiveFlock/database/data/
